mixin img(src,base64,classNames,eventFn)
    if(base64)
        if(eventFn)
            img(src=base64 class=classNames bindtap=eventFn)
        else
            img(src=base64 class=classNames)
    else
        if(isWxApp)
            if(eventFn)
                img(src='../../image/'+src class=classNames bindtap=eventFn)
            else
                img(src='../../image/'+src class=classNames)
        else
            if(eventFn)
                img(src='./image/'+src class=classNames bindtap=eventFn)
            else
                img(src='./image/'+src class=classNames)